name: PHP

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.4']
        include:
          - php: '8.4'
            composer-flags: '--prefer-lowest'
          - php: '8.4'
            coverage: true
    name: PHP ${{ matrix.php }} ${{ matrix.composer-flags && 'with --prefer-lowest' || '' }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php }}
        extensions: mbstring, json
        coverage: xdebug
        tools: composer:v2

    - name: Verify PHP Version
      run: php -v

    - name: Validate composer.json
      run: composer validate --no-check-lock

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --optimize-autoloader ${{ matrix.composer-flags }}

    - name: Run PHPUnit
      run: vendor/bin/phpunit ${{ matrix.coverage && '--coverage-clover=/tmp/clover.xml' || '--no-coverage' }}

    - name: Upload coverage to Scrutinizer
      if: ${{ matrix.coverage }}
      run: |
        wget https://scrutinizer-ci.com/ocular.phar -O "/tmp/ocular.phar"
        php "/tmp/ocular.phar" code-coverage:upload --format=php-clover /tmp/clover.xml
